@model ScriptVersion1.Models.Login
@{
    ViewBag.Title = "View";
}
@using (Html.BeginForm("Login", "login", FormMethod.Post))
{
    <div>Email</div>
    @Html.TextBoxFor(m => m.email, null, new { @class = "form-control" })
    <div>Jelszó</div>
    @Html.PasswordFor(m => m.jelszo, new { @class = "form-control" })

    <input type="submit" value="submit" />
}